<!DOCTYPE html>
<html>
<head>
    <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <script src="https://www.recaptcha.net/recaptcha/api.js?render={{recaptcha_key}}"></script>
</head>
<body>
<form method="post" action="/login">
    <div style="width:200px;">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" style="width:100%;">
        <label for="password" style="margin-top:0.5rem;">Password</label>
        <input id="password" name="password" type="password" style="width:100%;">
    </div>
    <input id="recaptcha_token" name="recaptcha_token" type="hidden" value="">
    <button id="submit" type="submit" style="margin-top:1rem;">Login</button>

    {% if message %}
    <div style="margin-top:1rem;">
        {{message}}
    </div>
    {% endif %}


    <script>
        var submit = document.getElementById("submit");

        submit.setAttribute('disabled', 'disabled');

        grecaptcha.ready(function () {
            grecaptcha.execute('{{recaptcha_key}}', {action: 'login'}).then(function (token) {
                document.getElementById('recaptcha_token').value = token;
                submit.removeAttribute("disabled");
            });
        });
    </script>
</form>

</body>